VITE_API_LANGUAGE=fa
VITE_APP_ENVIRONMENT=local
VITE_AUTH_TOKEN=
VITE_VARIANT=cab
VITE_CENTRAL_BACKEND_API=
# prod | stage
VITE_ENV=

# Environment variables for Playwright tests 
#  Access Key ID
VITE_ACCESS_KEY=
#  Secret Access Key
VITE_SECRET_KEY=
#OKD Region (e.g., teh1, teh2,...)
VITE_REGION=